@font-face {
    font-family: 'Sail';
    src: url('fonts/sail/Sail-Regular.otf');
}

@font-face {
    font-family: "Cooper Black";
    src: url('fonts/cooper_black/cooper_black.ttf');
}

@font-face {
    font-family: "Berkish";
    src: url('fonts/berkshire-swash/berkshireswash-regular.ttf');
}

@font-face {
    font-family: "Grand Hotel";
    src: url('fonts/grandhotel-regular/GrandHotel-Regular.otf');
}

@font-face {
    font-family: "Great Vibes";
    src: url('fonts/greatvibes-regular/GreatVibes-Regular.otf');
}

@font-face {
    font-family: "leelawad";
    src: url('fonts/leelawad/LEELAWAD.TTF');
}

@font-face {
    font-family: "lcd";
    src: url('fonts/lcd/KaTeX_AMS-Regular.ttf');
}
