{% extends "base.html" %} 
{% load i18n %}
{% block content %}


{% get_current_language as LANGUAGE_CODE %}

<div class="container">

    {% if tag %}
    <h2 class="mb-3">{% translate "Articles signés" %} "{{ tag.name }}"</h2>
    {% endif %}

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card row mb-4 art animate__animated animate__zoomIn">
                <div class="card-body">
                    <h2 class="card-title"> {% if LANGUAGE_CODE == 'en'%} {{ post.en_title }} {% elif LANGUAGE_CODE == 'fr' %} {{ post.fr_title }} {% endif %} </h2>
                    <p class="card-text text-muted h6"> By {{ post.author }} | {{post.pub_date}} </p>
                    <p class="card-text">{{post.description|linebreaks }}</p>
                    <a href="{% url 'blog:post_detail' post.slug %}" class="btn btn-primary">{% translate "Voir Plus" %} &rarr;</a>
                </div>
            </div>

            {%empty%}
            <p id="self-introduction">
                {% blocktranslate trimmed %}
                  Aucun article disponible pour l'instant. 
                  Merci de patienter. Il y en aura bientôt.
                {% endblocktranslate %}
            </p>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}