{% extends "base.html" %} 
{% load i18n %}
{% block content %}
{% load static %}
<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h2> {% translate "Plus d'infos sur moi" %} </h2>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'img/icons/avatar.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3> {% translate "Etudiant en Physique | Développeur de jeu" %} </h3>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <strong> {% translate "Anniversaire" %}: </strong> <span>1er Mars 2003</span>
                            </li>
                            <li>
                                <strong>{% translate "Ville" %}:</strong> <span>Cotonou, Benin</span>
                            </li>
                            <li>
                                <strong>Age:</strong> <span>18</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <strong>Email: </strong>
                                <span>kellyhantan@gmail.com</span>
                            </li>
                            <li>
                                <strong>{% translate "Pseudo" %}: </strong>
                                <span>Sixfried</span>
                            </li>
                            <li>
                                <strong>{% translate "Hobbys" %}: </strong>
                                <span> {% translate "Animés mangas, Jeux Vidéos, Musique, Lecture" %} </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <dd style="text-align: justify; line-height: 24pt;">
                    
                    <span class="tabulation" >
                    {% blocktranslate trimmed %}
                        Je suis étudiant en Physique-Chimie et programmeur autodidacte à temps partiel.
                    {% endblocktranslate %}
                    </span> <br>
                    {% blocktranslate trimmed %}
                        Je m'intéresse aussi aux jeux vidéos que ce soit dans la conception/développement
                        ou juste pour jouer. J'ai encore beaucoup à apprendre certes mais je compte réaliser
                        mon rêve de démystifier le jeu vidéo en Afrique en l'intégrant(pourquoi pas) au système
                        éducatif. 
                    {% endblocktranslate %}
                    <br>  
                    {% blocktranslate trimmed %}
                        En ce qui concerne mes atouts personnels, j'apprends et m'adapte très vite, et je travaille
                        aussi bien seul qu'en équipe. 
                    {% endblocktranslate %}
                    <br>
                </dd>
            </div>
        </div>

    </div>
</section>

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2> {% translate "Compétences" %} </h2>
            </div>

            <h3> {% translate "Outils et Frameworks" %}</h3>
            <div class="container">
                <div class="row align-items-center">

                    <div class="box col col-md">
                        <div class="percent">
                            <div class="num">
                                <a target="_blank" href="https://git-scm.com/">
                                    <svg viewBox="0 0 128 128">
                                        <path fill="#F34F29" d="M124.737 58.378l-55.116-55.114c-3.172-3.174-8.32-3.174-11.497 0l-11.444 11.446 14.518 14.518c3.375-1.139 7.243-.375 9.932 2.314 2.703 2.706 3.461 6.607 2.294 9.993l13.992 13.993c3.385-1.167 7.292-.413 9.994 2.295 3.78 3.777 3.78 9.9 0 13.679-3.78 3.78-9.901 3.78-13.683 0-2.842-2.844-3.545-7.019-2.105-10.521l-13.048-13.048-.002 34.341c.922.455 1.791 1.063 2.559 1.828 3.778 3.777 3.778 9.898 0 13.683-3.779 3.777-9.904 3.777-13.679 0-3.778-3.784-3.778-9.905 0-13.683.934-.933 2.014-1.638 3.167-2.11v-34.659c-1.153-.472-2.231-1.172-3.167-2.111-2.862-2.86-3.551-7.06-2.083-10.576l-14.313-14.313-37.792 37.79c-3.175 3.177-3.175 8.325 0 11.5l55.117 55.114c3.174 3.174 8.32 3.174 11.499 0l54.858-54.858c3.174-3.176 3.174-8.327-.001-11.501z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="box col col-md">
                        <div class="percent">
                            <div class="num">
                                <a target="_blank" href="https://github.com/">
                                    <svg viewBox="0 0 128 128">
                                        <g fill="#181616">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M64 5.103c-33.347 0-60.388 27.035-60.388 60.388 0 26.682 17.303 49.317 41.297 57.303 3.017.56 4.125-1.31 4.125-2.905 0-1.44-.056-6.197-.082-11.243-16.8 3.653-20.345-7.125-20.345-7.125-2.747-6.98-6.705-8.836-6.705-8.836-5.48-3.748.413-3.67.413-3.67 6.063.425 9.257 6.223 9.257 6.223 5.386 9.23 14.127 6.562 17.573 5.02.542-3.903 2.107-6.568 3.834-8.076-13.413-1.525-27.514-6.704-27.514-29.843 0-6.593 2.36-11.98 6.223-16.21-.628-1.52-2.695-7.662.584-15.98 0 0 5.07-1.623 16.61 6.19C53.7 35 58.867 34.327 64 34.304c5.13.023 10.3.694 15.127 2.033 11.526-7.813 16.59-6.19 16.59-6.19 3.287 8.317 1.22 14.46.593 15.98 3.872 4.23 6.215 9.617 6.215 16.21 0 23.194-14.127 28.3-27.574 29.796 2.167 1.874 4.097 5.55 4.097 11.183 0 8.08-.07 14.583-.07 16.572 0 1.607 1.088 3.49 4.148 2.897 23.98-7.994 41.263-30.622 41.263-57.294C124.388 32.14 97.35 5.104 64 5.104z">
                                            </path>
                                            <path d="M26.484 91.806c-.133.3-.605.39-1.035.185-.44-.196-.685-.605-.543-.906.13-.31.603-.395 1.04-.188.44.197.69.61.537.91zm-.743-.55M28.93 94.535c-.287.267-.85.143-1.232-.28-.396-.42-.47-.983-.177-1.254.298-.266.844-.14 1.24.28.394.426.472.984.17 1.255zm-.575-.618M31.312 98.012c-.37.258-.976.017-1.35-.52-.37-.538-.37-1.183.01-1.44.373-.258.97-.025 1.35.507.368.545.368 1.19-.01 1.452zm0 0M34.573 101.373c-.33.365-1.036.267-1.552-.23-.527-.487-.674-1.18-.343-1.544.336-.366 1.045-.264 1.564.23.527.486.686 1.18.333 1.543zm0 0M39.073 103.324c-.147.473-.825.688-1.51.486-.683-.207-1.13-.76-.99-1.238.14-.477.823-.7 1.512-.485.683.206 1.13.756.988 1.237zm0 0M44.016 103.685c.017.498-.563.91-1.28.92-.723.017-1.308-.387-1.315-.877 0-.503.568-.91 1.29-.924.717-.013 1.306.387 1.306.88zm0 0M48.614 102.903c.086.485-.413.984-1.126 1.117-.7.13-1.35-.172-1.44-.653-.086-.498.422-.997 1.122-1.126.714-.123 1.354.17 1.444.663zm0 0">
                                            </path>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="box col col-md">
                        <div class="percent">
                            <div class="num">
                                <a target="_blank" href="https://www.heroku.com/">
                                    <svg viewBox="0 0 128 128">
                                        <path fill="#6762A6" d="M102.1 2h-76.2c-6.6 0-11.9 5.3-11.9 11.9v100.3c0 6.6 5.3 11.9 11.9 11.9h76.3c6.6 0 11.9-5.3 11.9-11.9v-100.3c-.1-6.6-5.4-11.9-12-11.9zm-65.1 106.7v-28.2l14.1 14.1-14.1 14.1zm53 .3h-13.1l.1-.2v-49.4s3.1-11.8-39.7 4.8c-.1.2-.2-45.7-.2-45.7l13.9-.1v29.4s39-15.4 39 11.7v49.5zm-5.2-73h-14.8c5.3-6 10.2-17 10.2-17h15.3s-2.6 7-10.7 17z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="box col col-md">
                        <div class="percent">
                            <div class="num">
                                <a target="_blank" href="https://djangoproject.com/"><img src="{% static 'img/skills/Vue.svg' %}" alt="Vue.js"></a>
                            </div>
                        </div>
                    </div>

                    <div class="box col col-md">
                        <div class="percent">
                            <div class="num">
                                <a target="_blank" href="https://djangoproject.com/"> <img src="{% static 'img/skills/Django_icon.svg' %}" alt="Django"> </a>
                            </div>
                        </div>
                    </div>

                    <div class="box col col-md">
                        <div class="percent">
                            <div class="num">
                                <a target="_blank" href="https://godotengine.org/"><img src="{% static 'img/skills/Godot_icon.svg' %}" alt="Godot Engine"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br>

            <div style="margin-top: 25px">
                <h3> {% translate "Langages de Programation" %}</h3>
                <div class="row skills-content">
                    <div class="col-lg-6">
                        <div class="progress">
                            <span class="skill">C<em class="val"></em> </span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">C++<em class="val"></em> </span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Python3<em class="val"></em> </span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="progress">
                            <div class="progress">
                                <span class="skill">GdScript<em class="val"></em> </span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                </div>
                            </div>
                                <span class="skill">Dart<em class="val"></em> </span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">HTML5/CSS3<em class="val"></em> </span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Skills Section -->
    <section id="resume" class="resume" style="margin-top: 64px;">
        <div class="container">

            <div class="section-title">
                <h2>{% translate "Resumé" %}</h2>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4></h4>
                        <h5>2019 - 2021</h5>
                        <p> <a href="https://uac.bj/" class="school-link"><em>{% translate "Faculté des Sciences et Techniques |Université d'Abomey Calavi" %}, Bénin</em></a></p>

                        <p style="text-align:justify;" >
                            {% blocktranslate trimmed %}
                                L’Université d’Abomey-Calavi (UAC) est une institution académique
                                publique qui a pour missions essentielles d’assurer la formation des
                                cadres, de contribuer à la recherche scientifique et au développement
                                de l’économie nationale. A ce titre, elle est ouverte sans condition de
                                nationalité, de race, de sexe, de religion ou d’origine sociale à toute
                                personne justifiant des titres requis pour y accéder, notamment le
                                baccalauréat de l’enseignement du second degré ou un titre reconnu
                                équivalent. Elle confère des grades et délivre des diplômes conformément
                                à la règlementation en vigueur telle qu’elle résulte de la législation
                                nationale et des accords internationaux.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
            </div>

                <div class="row" style="margin-top: 5vh">
                    <div class="col-lg-6">
                        <h3 class="resume-title"> {% translate "Expérience Personnelle" %}</h3>
                        <div class="resume-item">
                            <h4>{% translate "Formation Académique à la FAST"%}</h4>
                            <h5> {% translate "Novembre 2020 - Maintenant" %} </h5>
                            <p><em>{% translate "Faculté des Sciences et Techniques |Université d'Abomey Calavi" %}, Benin.</em></p>
                            <ul>
                                <li>{% translate "1ère année validée en" %} 2020.</li>
                                <li> {% translate "2ème année en cours..." %} </li>
                                <li> {% translate "En vue de me spécialiser en Physique Quantique et en Astro-Physique" %} </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6"style="margin-top: 15vh">
                        <div class="resume-item">
                            <h4>Langage C</h4>
                            <h5>{% translate "Mars 2020 (appris en un un mois)" %}</h5>
                            <br><br>
                            <ul>
                                <li> {% blocktranslate trimmed %}
                                    Bases, structures de données, reproduction de quelques fonctions système 
                                    écriture d'une bibliothèque personnalisée.
                                    {% endblocktranslate %}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="resume-item">
                            <h4>{% translate "Programmation en Python" %}</h4>
                            <h5>{% translate "Juillet 2020 - Maintenant (une semaine d'apprentissage)" %} </h5>
                            <ul>
                                <li>{% translate "Bases, principes orienté objet du langage, web (Flask, Django) graphique" %}.</li>
                                <li>Bytely | Url Shortener.<a class="external" href="https://github.com/6fried/Bytely-URL-shortener"></a></li>
                                <li>SixCode.<a class="external" href="https://github.com/6fried/Bytely-URL-shortener"></a></li>
                                <li>{% translate "Résolution de problèmes diverses avec l'aide de scripts improvisés et adaptés aux situations." %}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="resume-item">
                            <h4>{% translate "Développement de jeux vidéo" %}</h4>
                            <h5>{% translate "Mars 2021 - Maintenant" %}</h5>
                            <ul>
                                <li>
                                    {% blocktranslate trimmed %}
                                        Quelques prototypes et clones de jeux connus 
                                        (spécialement ceux d'Atari) en vue de maitriser 
                                        les concepts du développement.
                                    {%endblocktranslate%}
                                </li>
                                <li>MarsLander, {% translate "premier jeu (officiel) (achevé)" %}. <a class="external" href="https://gotm.io/selecta/marslander" target="_blank"></a></li>
                                <li>{% translate "Capacité à créer n'importe quel type de jeu ou application en 2D avec Godot Engine." %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </section>


    <section id="portfolio" class="portfolio section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Portfolio</h2>
                <p style="font-size: 14pt; text-align:justify">
                    {% blocktranslate trimmed %}
                        Au cours de mes péripéties en tant que programmeur et développeur, 
                        j'ai eu à réaliser plusieurs projets, achevés ou non, qui m'ont 
                        permis de me perfectionner. Vous trouverez l'intégralité de ces 
                        projets dans l'onglet <a href="/showcases/">Vitrine</a>.
                        Visitez-la pour pour en savoir plus.
                    {% endblocktranslate %}
                </p>
            </div>
        </div>
    </section>
{%endblock%}