<!DOCTYPE html>
<html lang="fr">
	{% load static %}
	{% load i18n %}

	<head>
		<!-- Primary Meta Tags -->
		<title>SixCode</title>
		<meta name="title" content="SixCode">
		<meta name="description" content="My coder life. Let's learn game and web dev togheter with Godot Engine and Django">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://coderlife-test.herokuapp.com/">
		<meta property="og:title" content="SixCode">
		<meta property="og:description" content="My coder life. Let's learn game and web dev togheter with Godot Engine and Django">
		<meta property="og:image" content="">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://coderlife-test.herokuapp.com/">
		<meta property="twitter:title" content="SixCode">
		<meta property="twitter:description" content="My coder life. Let's learn game and web dev togheter with Godot Engine and Django">
		<meta property="twitter:image" content="">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'img/favicons/site.webmanifest' %}">

		<!-- Static files -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/boot.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/media-query.min.css' %}">
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/highlight.min.css' %}">
		<script src="{% static 'js/highlight.js' %}"></script>
		<script src="{% static 'js/main.js'%}"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	
	</head>

	<body>
		<header style="margin: 10px;">
			<div class="row align-items-center"  style="margin-right: 16px;">
				<div class="animate__animated animate__bounceIn"  id="title"><a href="{% url 'index' %}"><h1>SixCode</h1></a></div>
				<div class="row arrow search-form align-items-center">
					<form class="d-flex" action="{% url 'search:index' %} ">
						<input id="s-field" class=" form-control-sm" type="search" value="{{request.GET.q}}" name="q" placeholder="Search" aria-label="Search" style='display: none;'>
					</form>
					<button class="btn btn-outline-primary" onclick="searchBarShow()"><img src="{% static 'img/icon_search.svg' %}" alt="search"></button>
				</div>
			</div>
		</header>

		<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">

			<button class="btn nav-btn btn-outline-primary" onclick="showMenu(this)"> 
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</button>
			<ul class="navbar-nav nav_b ml-auto">
				<li>
					<a class="nav-link text-black font-weight-bold" href="{% url 'index' %}"> {% translate "Accueil" %} </a>
				</li>
                <li class="dropdown-base"><a class="nav-link text-black font-weight-bold" href="{% url 'blog:index' %}">Blog</a> </li>

				{% comment %}
				<li class="dropdown-base"><a class="nav-link dropdown-toggle text-black font-weight-bold" href="{% url 'blog:index' %}">Blog</a>
                    <!-- First Tier Drop Down -->
                    <ul class="dropcontent">
                        <li><a class="nav-link bg-light text-black font-weight-bold" href="">Django</a></li>
                        <li><a class="nav-link bg-light text-black font-weight-bold" href="" style="font-size: large;">Godot Engine</a></li>
                    </ul>
                </li>
				{% endcomment %}

				<li>
					<a class="nav-link text-black font-weight-bold" href="{% url 'showcase:index' %} "> {% translate "Vitrine" %} </a>
				</li>

				<li>
					<a class="nav-link text-black font-weight-bold" href="{% url 'about' %} "> {% translate "A Propos" %} </a>
				</li>

			</ul>
        </nav>
		<article>	  
			{% block content %}
			<!-- Content Goes here -->
			{% endblock content %}	
		</article>	

		<footer>
			<div style="font-size: large;">
				<h6>Languages</h6>
				<a href="{{request.get_full_path|slice:'3:'}}">Français</a> |
				<a href="/en{{request.get_full_path}}">English</a>
			</div>
			<div class="py-3 bg-grey d-flex flex-column text-center">
				<span class="container">
					<span class="social-links">
						<a href="https://github.com/6fried" target="_blank" class="github"><em class="bx bxl-github" title=" {% translate "Me suivre sur" %} Github"></em></a>
						<a href="https://twitter.com/HantanKelly" target="_blank" class="twitter"><em class="bx bxl-twitter" title="{% translate "Me suivre sur" %} Twitter"></em></a>
						<a href="https://linkedin.com/in/kelly-hantan-b471881b8" target="_blank" class="linkedin"><em class="bx bxl-linkedin" title="{% translate "Me suivre sur" %} LinkedIn"></em></a>
						<!-- <a href="" target="_blank" class="facebook"><em class="bx bxl-facebook" title="Follow me Facebook"></em></a> -->
						<a href="https://discord.com/users/630700824158404609" target="_blank" class="discord"><em class="bx bxl-discord" title="{% translate "Me joindre sur" %} Discord"></em></a>
						<a href="https://t.me/Sixfried" target="_blank" class="telegram"><em class="bx bxl-telegram" title="{% translate "Me joindre sur" %} Telegram"></em></a>
						<a href="https://wa.me/22994428200" target="_blank" class="whatsapp"><em class="bx bxl-whatsapp" title="{% translate "Me joindre sur" %} Whatsapp"></em></a>
						<a href="mailto:kellyhantan@gmail.com" class="mail" title="{% translate "Envoyer un mail" %}"><em class="bx bx-mail-send"></em></a>
					</span>
				</span>
				<p class="text-center copyright" style="font-size: 1.5em;">Copyright &copy; Selecta</p>
			</div> 
		</footer>

	</body>
</html>
