<!DOCTYPE html>
<html lang="fr">

	<head>
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CoderLife</title>
		{% load static %}
		{% load i18n %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/boot.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/media-query.css' %}">
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/highlight.css' %}">
		<script src="{% static 'js/highlight.js' %}"></script>
		<script src="{% static 'js/main.js'%}"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	
	</head>

	<body>
		<header style="margin: 10px;">
			<div class="row align-items-center"  style="margin-right: 16px;">
				<div class="animate__animated animate__bounceIn"  id="title"><a href="{% url 'index' %}"><h1>CoderLife</h1></a></div>
				<div class="row arrow search-form align-items-center">
					<form class="d-flex" action="{% url 'search:index' %} ">
						<input id="s-field" class=" form-control-sm" type="search" value="{{request.GET.q}}" name="q" placeholder="Search" aria-label="Search" style='display: none;'>
					</form>
					<button class="btn btn-outline-primary" onclick="searchBarShow()"><img src="{% static 'img/icon_search.svg' %}" alt="search"></button>
				</div>
			</div>
		</header>

		<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">

			<button class="btn nav-btn btn-outline-primary" onclick="showMenu(this)"> 
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</button>
			<ul class="navbar-nav nav_b ml-auto">
				<li>
					<a class="nav-link text-black font-weight-bold" href="{% url 'index' %}"> {% translate "Accueil" %} </a>
				</li>
                <li class="dropdown-base"><a class="nav-link text-black font-weight-bold" href="{% url 'blog:index' %}">Blog</a> </li>

				{% comment %}
				<li class="dropdown-base"><a class="nav-link dropdown-toggle text-black font-weight-bold" href="{% url 'blog:index' %}">Blog</a>
                    <!-- First Tier Drop Down -->
                    <ul class="dropcontent">
                        <li><a class="nav-link bg-light text-black font-weight-bold" href="">Django</a></li>
                        <li><a class="nav-link bg-light text-black font-weight-bold" href="" style="font-size: large;">Godot Engine</a></li>
                    </ul>
                </li>
				{% endcomment %}

				<li>
					<a class="nav-link text-black font-weight-bold" href="{% url 'showcase:index' %} "> {% translate "Vitrine" %} </a>
				</li>

				<li>
					<a class="nav-link text-black font-weight-bold" href="{% url 'about' %} "> {% translate "A Propos" %} </a>
				</li>

			</ul>
        </nav>
		<article>	  
			{% block content %}
			<!-- Content Goes here -->
			{% endblock content %}	
		</article>	

		<footer>
			<div style="font-size: large;">
				<h6>Languages</h6>
				<a href="{{request.get_full_path|slice:'3:'}}">Français</a> |
				<a href="/en{{request.get_full_path}}">English</a>
			</div>
			<div class="py-3 bg-grey d-flex flex-column text-center">
				<span class="container">
					<span class="social-links">
						<a href="https://github.com/6fried" target="_blank" class="github"><em class="bx bxl-github" title=" {% translate "Me suivre sur" %} Github"></em></a>
						<a href="https://twitter.com/HantanKelly" target="_blank" class="twitter"><em class="bx bxl-twitter" title="{% translate "Me suivre sur" %} Twitter"></em></a>
						<a href="https://linkedin.com/in/kelly-hantan-b471881b8" target="_blank" class="linkedin"><em class="bx bxl-linkedin" title="{% translate "Me suivre sur" %} LinkedIn"></em></a>
						<!-- <a href="" target="_blank" class="facebook"><em class="bx bxl-facebook" title="Follow me Facebook"></em></a> -->
						<a href="https://discord.com/users/630700824158404609" target="_blank" class="discord"><em class="bx bxl-discord" title="{% translate "Me joindre sur" %} Discord"></em></a>
						<a href="https://t.me/Sixfried" target="_blank" class="telegram"><em class="bx bxl-telegram" title="{% translate "Me joindre sur" %} Telegram"></em></a>
						<a href="https://wa.me/22994428200" target="_blank" class="whatsapp"><em class="bx bxl-whatsapp" title="{% translate "Me joindre sur" %} Whatsapp"></em></a>
						<a href="mailto:kellyhantan@gmail.com" class="mail" title="{% translate "Envoyer un mail" %}"><em class="bx bx-mail-send"></em></a>
					</span>
				</span>
				<p class="text-center copyright" style="font-size: 1.5em;">Copyright &copy; Selecta</p>
			</div> 
		</footer>

	</body>
</html>
